{% extends 'project_manager/base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <h2>Welcome to BuildLink</h2>
    <p>Your ultimate solution for project management in construction.</p>

    <nav>
        <center>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">
                            <a href="{% url 'project_manager:project_view' %}">Projects</a>
                        </th>
                        <th scope="col">
                            <a href="{% url 'project_manager:machinery_view' %}">Machines & Equipment</a>
                        </th>
                       <th scope="col">
                        <a href="{% url 'project_manager:material_view' %}">Materials</a>
                       </th>
                        <th scope="col">
                            <a href="{% url 'project_manager:milestone_view' %}">Milestones</a>
                        </th>
                        <th scope="col">
                            <a href="{% url 'project_manager:activity_view' %}">Activities</a>
                        </th>
                        <th scope="col">
                            <a href="{% url 'register:logout' %}">Logout</a>
                        </th>
                     </tr>
                </thead>
            </table>
        </center>
    </nav>
{% endblock %}
