{% extends 'project_manager/base.html' %}
{% block title %}Add milestone{% endblock %}
{% block content %}
    <h1>Add milestone</h1>
    <div class="card">
        <a href="{% url 'project_manager:add_milestone' %}">Add milestone</a>
    </div>

    <div class="grid">
        {% for milestone in milestones %}
        <div class="card">
            <h2>{{ milestone.name }}</h2>
        </div>
        {% endfor %}
        {% include 'project_manager/pagination.html' with page_obj='milestones'}
    </div>
{% endblock %}