{% extends 'project_manager/base.html' %}
{% block title %} Personnel {% endblock%}
{% block content %}
<h1>Personel</h1>
    <a href="{% url 'project_manager:add_personnel' %}">Add Personnel</a>
        <ul>
            {% for personel in personel %}
            <li>
            <a href="{% url 'project_manager:personnel_detail' personnel.id %}">{{ personnel.name }}</a> 
            </li>
            {% endfor %}
            {% include 'project_manager/pagination.html' with page_obj='personel' %}
{% endblock %}