{% extends 'project_manager/base.html' %}
{% block title %}  {{ personnel.user }} {% endblock %}
{% block content %}
    <h1>User: {{ personnel.user }}</h1>
    <p> project: {{ personnel.project }}</p>
    <p> role {{ personel.role }}</p>
    <p> Date joined: {{ personnel.join_date }}</p>
    <p> Date left: {{ personnel.end_date }}</p>
    <a href="{% url 'project_manager:edit_personnel' personnel.id %}">Edit</a>
    <a href="{% url 'project_manager:delete_personnel' personnel.id %}">Delete</a>
{% endblock %}