{% extends 'project_manager/base.html' %}
{% block title %} Projects{% endblock %}
{% block content %}
    <h1>Projects</h1>
    </div>   
    <div class  class="grid">
            {% for project in projects %}
                    <div class="card"> 
                        <h3>{{ project.name }}</h3>
                        <p>{{ poject.description }}</p>                
                        <a href="{% url 'project_manager:project_detail' project.id %}" class="btn btn-primary">View Details</a>                      
                    </div>
            {% endfor %}
            {% include 'project_manager/pagination.html' with page_obj='projects'}
    </div>
    <div class="card">
        <a href="{% url 'project_manager:add_project' %}"><center>Add Project</center></a>
{% endblock %}


