{% extends 'project_manager/base.html' %}
{% block title %} {{ project.name }} {% endblock %}
{% block content %}
<div class="project-detail">
    <h2>{{ project.name }}</h1>
        <div class="project-content">
            <p>{{ project.description }}</p>
            <p> Estimated budget: {{ project.budget }}</p>
            <p> start date: {{ project.start_date }}</p>
            <p>  End date :{{ project.end_date }}</p>
            <p> expected_revenue: {{ project.expected_revenue_unit }}</p>
            <p> expected revenue: {{project.expected_revenue}} </p>
            <p>Status: {{ project.status }}</p>
        </div>
              <a href="{% url 'project_manager:edit_project' project.id %}" class="btn btn-primary">Edit</a>
            <form action="{% url 'project_manager:delete_project' project.id %}" method="post" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
            
</div>       
{% endblock %}