{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <title>Activities</title>
</head>
<body>
    <h1>Activities</h1>
    <a href="{% url 'add_activity' %}">Add activity</a>
    <ul>
        {% for activity in activities %}
        <li>
           <a href="{% url 'activity_detail' project.id %}"> {{activity.name}}</a>1     
        </li>
        {% endfor %}
    </ul>
</body>
</html>