{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <title>Add Milestone</title>
</head>
<body>
    <h1>Add milestone</h1>
    <form action="{% url 'add_milestone' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submitt</button>
    </form>
</body>
</html>