{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <title>{{ machinery.name }}</title>
</head>
<body>
    <h1>{{ machinery.name }}</h1>
    <p>{{ machinery.project }}</p>
    <p> {{ machinery.type }}</p>
    <p> {{ machinery.cos t}}</p>
    <p>{{ machinery.num_of_machines }}</p>
    <a href="{% url 'edit_machinery' machinery.id %}">Edit</a>
    <a href="{% url delete_machinery machinery.id %}">Delete</a>

</body>
</html>