{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <title>Machineries</title>
</head>
<body>
    <h1>Machineries</h1>
    <a href="{% url 'add_machinery' %}">Add Machine</a>
    <ul>
        {% for machinery in machineries %}
        <li>
            <a href="{% url 'machinery_detail' machinery.id %}">{{ machinery.name }}</a>  
        </li>
        {% endfor %}
    </ul>
</body>
</html>
