{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <title>{{ material.name }}</title>
</head>
<body>
    <h1>{{ material.name }}</h1>
    <p>{{ material.project }}</p>
    <p>{{ material.quantity }}</p>
    <p> {{ material.quantity_units }}</p>
    <p> {{ material.cost }}</p>
    <a href="{% url 'edit_material' material.id %}"> Edit</a>
    <a href="{% url 'delete_material' material.id %}">delete</a>
</body>
</html>