<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personell</title>
</head>
<body>
    <h1>Personel</h1>
    <a href="{% url 'add_personel' %}">Add Personel</a>
    <ul>
        {% for personel in personel %}
        <li>
            {{personel.name}}
            <a href="{% url 'edit_personel' personel.id %}">Edit Personel</a>
            <a href="{% url 'delete_personel' personel.id %}">Delete Personel</a>

        </li>
        {% endfor %}
    </ul>
</body>
</html>