{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <title> {{ personel.user }}</title>
</head>
<body>
    <h1>User: {{ personel.user }}</h1>
    <p> project: {{ personel.project }}</p>
    <p> role {{ personel.role }}</p>
    <p> Date joined: {{ personel.join_date }}</p>
    <p> Date left: {{ personel.end_date }}</p>
    <a href="{% url 'edit_personel' personel.id %}">Edit</a>
    <a href="{% url 'delete_personel' personel.id %}">Delete</a>
</body>
</html>